<form class="filters" id="board-filters">
  <div class="filters__header">
    <div class="body-1 font-700">Filters</div>
    <div class="icon filters__header__icon">&#xe904;</div>
    <div class="icon filters__header__close" id="close-filters">&#xe903;</div>
  </div>
  <div class="filters__options">
    <div class="body-1 font-700">Sort</div>
    <div class="filters__options__types">
      <p class="font-400" id="sort-button">Ascending</p>
      <p class="font-400" id="sort-button">Descending</p>
    </div>
  </div>
  <div class="filters__slider">
    <div class="body-1 font-700">Price</div>
    <div id="price-range-slider"></div>
  </div>
  <div class="filters__buttons">
    <input type="submit" theme="dark" id="filter-apply" value="Apply Filter" />
    <input type="submit" theme="gray" id="filter-reset" value="Reset Filter" />
  </div>
</form>
