<app-footer class="footer">
  <div class="footer__newsletter">
    <div class="footer__newsletter__left">
      <h3>STAY UPTO DATE ABOUT OUR LATEST OFFERS</h3>
    </div>
    <form action="" class="footer__newsletter__right">
      <div class="mail">
        <input
          type="mail"
          icon="mail"
          theme="dark"
          placeholder="Enter your email address"
        />
        <div class="icon">&#xe905;</div>
      </div>
      <input type="submit" theme="light" value="Subscribe to Newsletter" />
    </form>
  </div>
  <div class="footer__body">
    <div class="footer__body__top">
      <div class="footer__body__top__item">
        <div class="footer__body__top__item__recap">
          <div class="footer__body__top__item__recap__text">
            <div class="logo font-700">SHOP.CO</div>
            <p>
              We have clothes that suits your style and which you’re proud to
              wear. From women to men.
            </p>
          </div>
          <div class="footer__body__top__item__recap__icons">
            <a href="#"
              ><img
                height="28px"
                width="28px"
                src="/src/assets/images/icons/twitter.png"
                alt=""
            /></a>
            <a href="#"
              ><img
                height="28px"
                width="28px"
                src="/src/assets/images/icons/facebook.png"
                alt=""
            /></a>
            <a href="#"
              ><img
                height="28px"
                width="28px"
                src="/src/assets/images/icons/inst.png"
                alt=""
            /></a>
            <a href="#"
              ><img
                heigh="28px"
                width="28px"
                src="/src/assets/images/icons/git.png"
                alt=""
            /></a>
          </div>
        </div>
      </div>
      <div class="footer__body__top__collection">
        <div class="footer__body__top__item">
          <h5>Company</h5>
          <a href=""><p>About</p></a>
          <a href=""><p>Features</p></a>
          <a href=""><p>Works</p></a>
          <a href=""><p>Career</p></a>
        </div>
        <div class="footer__body__top__item">
          <h5>Help</h5>
          <a href=""><p>Customer Support</p></a>
          <a href=""><p>Delivery Details</p></a>
          <a href=""><p>Terms & Conditions</p></a>
          <a href=""><p>Privacy Policy</p></a>
        </div>
        <div class="footer__body__top__item">
          <h5>FAQ</h5>
          <a href=""><p>Account</p></a>
          <a href=""><p>Manage Deliveries</p></a>
          <a href=""><p>Orders</p></a>
          <a href=""><p>Payments</p></a>
        </div>
        <div class="footer__body__top__item">
          <h5>Resources</h5>
          <a href=""><p>Free eBooks</p></a>
          <a href=""><p>Development Tutorial</p></a>
          <a href=""><p>How to - Blog</p></a>
          <a href=""><p>Youtube Playlist</p></a>
        </div>
      </div>
    </div>
    <div class="footer__body__bottom">
      <hr />
      <div class="footer__body__bottom__options">
        <p>Shop.co © 2000-2023, All Rights Reserved</p>
        <div class="footer__body__bottom__options__payments">
          <a href=""
            ><img
              width="46px"
              height="30px"
              src="/src/assets/images/icons/visa.png"
              alt=""
          /></a>
          <a href=""
            ><img
              width="46px"
              height="30px"
              src="/src/assets/images/icons/mastercard.png"
              alt=""
          /></a>
          <a href=""
            ><img
              width="46px"
              height="30px"
              src="/src/assets/images/icons/paypal.png"
              alt=""
          /></a>
          <a href=""
            ><img
              width="46px"
              height="30px"
              src="/src/assets/images/icons/apple.png"
              alt=""
          /></a>
          <a href=""
            ><img
              width="46px"
              height="30px"
              src="/src/assets/images/icons/google.png"
              alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</app-footer>
