<app-hero class="hero">
  <div class="hero__banner">
    <div class="hero__banner__left">
      <div class="hero__banner__left__text">
        <h1>
          FIND <span style="text-decoration: underline">ANYTHING</span> THAT
          MATCHES YOUR STYLE
        </h1>
        <p>
          Browse through our diverse range of meticulously crafted garments,
          designed to bring out your individuality and cater to your sense of
          style.
        </p>
        <a href="/category"
          ><input type="button" theme="dark" value="Shop now"
        /></a>
      </div>
      <div class="hero__banner__left__statistics">
        <div class="hero__banner__left__statistics__item">
          <h3>200+</h3>
          <p>International Brands</p>
        </div>
        <div class="hero__banner__left__statistics__item">
          <h3>2,000+</h3>
          <p>High-Quality Products</p>
        </div>
        <div class="hero__banner__left__statistics__item">
          <h3>30,000+</h3>
          <p>Happy Customers</p>
        </div>
      </div>
    </div>
    <div class="hero__banner__right"> 
      <div class="diamond"></div>
      <div class="diamond"></div>
    </div>
  </div>
  <div class="hero__brands">
    <img src="./src/assets/images/logos/versace.png" alt="" />
    <img src="./src/assets/images/logos/zara.png" alt="" />
    <img src="./src/assets/images/logos/gucci.png" alt="" />
    <img src="./src/assets/images/logos/prada.png" alt="" />
    <img src="./src/assets/images/logos/calvin-klein.png" alt="" />
  </div>
</app-hero>
